In [4]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [5]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password
        )
        print("My SQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection
pw = "Edu@1822"
db= "mysql_python"
connection = create_server_connection("localhost", "root", pw)

My SQL Database connection successful

In [8]:
# Create mysql_python

def create_database(connection, query):
    cursor= connection.cursor()
    try:
        cursor.execute(query)
        print("Database create successfully")
    except Error as err:
        print(f"Error: '{err}'")
create_database_query = "Create database mysql_python"
create_database(connection, create_database_query)

Database create successfully

In [10]:
# Connect to database 
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database= db_name
        )
        print("My SQL database connection successfully")
    except Error as err:
        print(f"Error: '{err}'")
    return connection
connection = create_db_connection("localhost", "root", pw, db)

My SQL database connection successfully

In [12]:
# Execute sql queries
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successful")
    except Error as err:
        print(f"Error: '{err}'")

In [13]:
create_orders_table = """
create table orders(
order_id int primary key,
customer_name varchar(30) not null,
product_name varchar(20) not null,
date_ordered date,
quantity int,
unit_price float,
phone_number varchar(20)); 
"""

# connect to the database 
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, create_orders_table)

My SQL database connection successfully
Query was successful

In [16]:
 # insert data
data_orders= """
insert into orders values
(101,'Nahid', 'drone', '2023-06-12', 1,800, '123456789'), 
(102,'Marzia', 'Car', '2023-06-14', 1,80000, '123456790'),
(103,'Abid', 'Tesla', '2023-06-15', 1,80000, '123456791'),
(104,'Sadia', 'Small Car', '2023-06-16', 1,28000, '123456792'),
(105,'Ammu Abbu', 'Home', '2023-06-17', 1,800000, '123456793'),
(106,'Jinnah', 'Bike', '2023-06-18', 1,3500, '123456794'),
(107,'Fahmida', 'Car', '2023-06-19', 1,80000, '123456795');
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, data_orders)

My SQL database connection successfully
Query was successful

In [25]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        resutl = cursor.fetchall()
        return result
    
    except Error as err:
        print(f"Error: '{err}'")

In [37]:
# using the select statement 
q1= """
select order_id from orders;
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q1)
#for result in results:
    #print(result)

My SQL database connection successfully

In [34]:
q2= """
select customer_name from orders;
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q2)
#for result in results:
      #  print(result)

My SQL database connection successfully

In [35]:
q3= """
select year(date_ordered) from orders;
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q3)
#for result in results:
       # print(result)

My SQL database connection successfully